.sampleBubblegumSans { font-family: 'Bubblegum Sans', cursive; }
.samplePortLligatSans { font-family: 'Port Lligat Sans', sans-serif; }
.sampleOverlock { font-family: 'Overlock', cursive; }
.sampleSkranji { font-family: 'Skranji', cursive; }
.sampleMirza { font-family: 'Mirza', cursive; }

#sample {
	display: none; /* initial, none */
}