<!--The whole content below can be removed with the new code.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!!
  </h1>
<!-- object data="assets/atLogoMock.svg" type="image/svg+xml" -->
  <img src="assets/atFallback.jpg" alt="Constantine Volanakis"/>
<!-- /object -->
</div>
<h2>Create Player</h2>
<div>
  <div>
    <label>Name: </label>
    <input [(ngModel)]="player.name" placeholder="Playe Name">
  </div>
  <div>
    <label>Ship: </label>
    <input [(ngModel)]="ship.name" placeholder="Ship Name">
  </div>
  <button (click)="startGame()">Start Game</button>
</div>
<player-detail [player]="player" [ship]="ship"></player-detail>
<ship-detail [ship]="ship"></ship-detail>
<!-- div>
	<h2>Player Two</h2>
	<div>
		<label>Name: </label>
		{{ playerTwo.name }}
	</div>
</div -->