<!--The whole content below can be removed with the new code.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!!
  </h1>
<!-- object data="assets/atLogoMock.svg" type="image/svg+xml" -->
  <img src="assets/atFallback.jpg" alt="Constantine Volanakis"/>
<!-- /object -->
</div>
<h2>Create Player</h2>
<div>
  <div>
    <label>Name: </label>
    <input [(ngModel)]="player.name" placeholder="name">
  </div>
  <div>
    <label>Ship: </label>
    <input [(ngModel)]="ship" placeholder="name">
  </div>
  <button (click)="startGame()">Start Game</button>
</div>
<div id="playerData">
  <h2>Player Data</h2>
    <div>
      <label>Name: </label>
      {{player.name}}
    </div>
    <div>
      <label>Ship: </label>
      {{ship}}
    </div>
    <div>
      <label>Money: </label>
      {{player.duckets}}
    </div>

</div> <!-- id is playerData -->

