<h3>The Port of {{port.name}}</h3>
<p>Buy and sell! Here are the local prices. What they are selling is what you are buying. Click on a price to buy or sell.</p>
<table>
<tr><th>Commodity</th><th>Sell</th><th>Buy</th>
<tr *ngFor="let commodity of commodities; let i = index">
	<td>{{commodity}}</td>
	<td (click)="sell(commodity, i, port.sellPrice[i])">{{port.sellPrice[i]}}</td>
	<td (click)="buy(commodity, i, port.buyPrice[i])">{{port.buyPrice[i]}}</td>
</tr>
</table>
<input type="button" disabled value="Set Sail" />
<input type="button" disabled value="Visit Warehouse" />
<input type="button" disabled value="Borrow Money" />