<div>
	<h2>Ship Details</h2>
    <table>
      <tr>
        <td>Ship Name: </td>
        <td>{{ ship.name }}</td>
      </tr>
      <tr>
        <td>Size: </td>
        <td>{{ ship.size }} ( {{ship.available}} )</td>
      </tr>
      <tr>
        <td>HP: </td>
        <td>{{ ship.hp }}</td>
      </tr>
    </table>
    <div>
    	<h3>Cargo</h3>
    	<table>
    		<tr *ngFor="let cargo of ship.cargo; let i  = index">
    			<td>{{commodities[i]}}</td>
    			<td>{{cargo}}</td>
    		</tr>
    	</table>
      	
    </div>
</div>